<html>

  <head>
    <link rel="stylesheet" href="/css/application.css">
    <script src="/js/application.js"></script>
    <title>This is bitly-clone for registered user onlye</title>
  </head>

  <body>
    <h1>This is bitly-clone for registered user onlye</h1>
    <%= yield %>
    <hr>
  </body>
</html>